.profile {
    font-size: 16px;
    padding: 32px;
    border: 1px solid #010101;
    border-radius: 8px;
}

.description {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 16px;
    margin-bottom: 24px;
}

.avatar {
    width: 72px;
    height: 72px;
    border-radius: 50%;
}

.name {
    font-weight: 700;
    font-size: 21px;
}

.tag,
.location {
    color: #777;
}

.stats {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    place-items: center;
    gap: 16px;
    list-style-type: none;
    border-top: 1px solid #010101;
    padding-top: 24px;
}

.stats li {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.stats li:last-child {
    padding: 0;
    border: none;
}

.label {
    margin-bottom: 4px;
}

.quantity {
    font-weight: 700;
}